<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rm65">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rm65 urdf file -->
    <xacro:include filename="$(find rm65_description)/urdf/rm_65_6f_description.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="rm65.ros2_control.xacro" />


    <xacro:rm65_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
